.banner {
  padding-top: 70px;
  padding-bottom: 290px;

  &__lead {
    margin-bottom: 50px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media (min-width: $tablet-width) {
  .banner {
    padding-top: 110px;
    padding-bottom: 0;

    &__lead {
      width: 435px;
      margin-bottom: 55px;
      font-size: 32px;
    }

    &__text {
      width: 645px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .banner {
    padding-top: 140px;

    &__text {
      width: 560px;
    }
  }
}
