.main-footer {
  background-color: $main-color;
  padding-top: 40px;
  padding-bottom: 50px;

  &__copy,
  &__policy {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 13px;
    color: rgba($white-color, 0.7);
    letter-spacing: 0;
  }

  & .col-12:nth-child(3) {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding-top: 20px;
    padding-bottom: 20px;

    &__copy,
    &__policy {
      margin-bottom: 0;
      text-align: start;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding-top: 15px;
    padding-bottom: 15px;

    &__design {
      display: block;
      font-size: 13px;
      color: rgba($white-color, 0.7);
      letter-spacing: 0;
      text-align: right;
    }

    &__policy {
      text-align: center;
    }

    & .col-12:nth-child(3) {
      display: block;
    }
  }
}
