.main-header {
  min-height: 950px;
  padding-top: 70px;
  background-color: $main-color;
  background-image: url("../../img/bg-header.desktop.png");
  background-position: -310px 0;
  background-repeat: no-repeat;
  // background-size: cover;

  &__phone-link {
    margin-left: 65px;
    margin-top: 4px;
    font-family: "OpenSansBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: $white-color;
    text-decoration: none;
  }

  &__nav-btn {
    width: 165px;
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 34px;
    margin-left: 36px;
    font-size: 11px;
    line-height: 1.2;
    color: $white-color;
    background-color: transparent;
    border: 2px solid $white-color;
    border-radius: 16px;
  }

  &__lead {
    display: inline-block;
    font-family: "MullerExtraBold", "Arial", sans-serif;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    color: $white-color;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__descr {
    width: 428px;
    margin: 0;
    margin-bottom: 75px;
    font-family: "MullerMedium", "Arial", sans-serif;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
    color: $white-color;
    letter-spacing: 0;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
  }

  &__btn {
    min-width: 247px;
    margin-right: 25px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__small-text {
    display: inline-block;
    width: 220px;
    font-size: 16px;
    line-height: 1.2;
    color: $white-color;
    letter-spacing: 0;
  }

  & .col-xl-12 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
