.reviews {
  padding-top: 35px;

  &__title {
    margin-bottom: 45px;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 75px;

    &__title {
      margin-bottom: 65px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 135px;

    &__title {
      margin-bottom: 85px;
    }
  }
}
