.services {
  padding-bottom: 60px;

  & .row:first-child {
    padding-top: 70px;
    background-color: #faf8fb;
  }

  & .row:nth-child(2) {
    padding-bottom: 55px;
    background-image: url("../../img/bg-print.mobile.png");
    background-repeat: no-repeat;
    background-position: 39px 370px;
  }

  & .row:nth-child(3) {
    background-color: #faf8fb;
    background-image: url("../../img/bg-banner.mobile.png");
    background-position: 0 620px;
    background-repeat: no-repeat;
  }

  &__title {
    margin-bottom: 40px;
  }
}
