.services {
  padding-bottom: 60px;

  & .row:first-child {
    background-color: #faf8fb;
    position: relative;
  }

  & .row:nth-child(2) {
    background-image: url("../../img/bg-interior.mobile.png");
    background-repeat: no-repeat;
    background-position: 39px 370px;
  }

  & .row:nth-child(3) {
    background-color: #faf8fb;
    background-image: url("../../img/bg-banner.mobile.png");
    background-position: 0 620px;
    background-repeat: no-repeat;
  }

  &__title {
    margin-top: 70px;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .services {
    & .row:nth-child(2) {
      background-image: url("../../img/bg-interior.tablet.png");
      background-position: 212px 200px;
    }

    & .row:nth-child(3) {
      background-image: url("../../img/bg-banner.tablet.png");
      background-position: 384px 440px;
    }
  }
}

@media (min-width: $desktop-width) {
  .services {
    padding-bottom: 0;

    & .row:first-child {
      padding-bottom: 125px;
      position: relative;
    }

    & .row:nth-child(2) {
      background-image: url("../../img/bg-interior.desktop.png");
      background-position: -260px 124px;
    }

    & .row:nth-child(3) {
      padding-bottom: 150px;
      background-image: url("../../img/bg-banner.desktop.png");
      background-position: 590px 0;
    }

    &__title {
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }
}
