.services-form {
  & i {
    display: block;
    margin-bottom: 10px;
    font-family: "OpenSansItalic", "Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: $text-color;
    letter-spacing: 0;
  }

  &__lead {
    display: block;
    margin-bottom: 30px;
    font-family: "OpenSansSemiBold", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: $text-color;
    letter-spacing: 0;
  }

  & p {
    margin-top: 0;
    margin-bottom: 35px;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  &__input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $text-color;
    font-family: "OpenSansSemiBold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: $text-color;
    letter-spacing: 0;

    &::placeholder {
      font-family: "OpenSansItalic", "Arial", sans-serif;
      font-weight: 400;
    }
  }

  &__submit-btn {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .services-form {
    padding-top: 80px;
  }
}

@media (min-width: $desktop-width) {
  .services-form {
    padding-top: 120px;

    & form {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    & p {
      margin-bottom: 0;

      &:first-child {
        margin-bottom: 0;
      }
    }

     &__input {
       width: 240px;
     }

    &__submit-btn {
      width: 195px;
    }
  }
}
