.slider {
  margin-bottom: 40px;

  &__item {
    position: relative;

    & small {
      position: absolute;
      bottom: 15px;
      left: 0;
      font-size: 13px;
      letter-spacing: 0;
    }
  }

  &__img {
    display: block;
  }

  &__btn {
    width: 90px;
    height: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-position: 0 0;
    background-repeat: no-repeat;

    &--left {
      background-image: url("../../img/arrow-left.png");
    }

    &--right {
      background-image: url("../../img/arrow-right.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .slider {
    margin-bottom: 45px;

    &__item {
      & small {
        bottom: 15px;
        left: auto;
        right: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin-top: 180px;
    margin-bottom: 0;

    &__item {
      & small {
        bottom: 15px;
        left: 275px;
        right: auto;
      }
    }
  }
}
